{# Optional #}
{% set eyebrow = block.eyebrow ?? '' %} {# Plain Text #}
{% set heading = block.heading ?? '' %} {# Plain Text #}
{% set linkField = block.linkField ?? null %} {# Hyper #}

<section class="pb-20">
  <div class="container">
    {% include "_components/centerText" with {
        eyebrow: eyebrow,
        heading: heading,
        linkField: linkField
    } %}

    {% set articles = craft.entries.section('articles')
      .limit(3) %}

    <div class="layout-grid gap-y-8 reveal-items-container">
      {% for article in articles.all() %}
        <div class="col-span-full lg:col-span-4 reveal-items-item">
          {% include "_components/card/article" with { article } only %}
        </div>
      {% endfor %}
    </div>

  </div>
</section>
