{# Optional #}
{% set eyebrow = block.eyebrow ?? '' %} {# Plain Text #}
{% set heading = block.heading ?? '' %} {# Plain Text #}
{% set linkField = block.linkField ?? null %} {# Hyper #}
{% set eyebrowLinkField = block.eyebrowLink ?? null %} {# Hyper #}

<section class="pb-20">
  <div class="container">
    {% if block.copy %}<p class="pt-14 lg:pt-24 text-center d-block pb-6 t-h3 w-3/4 m-auto">{{ block.copy|nl2br }}</p>{% endif %}
    {% include "_components/centerText" with {
        eyebrow: eyebrow,
        heading: heading,
        linkField: linkField,
        eyebrowLink: eyebrowLinkField,
        paddingClass: 'pt-0'
    } %}

    {% set articles = craft.entries.section('articles')
      .limit(3) %}

    <div class="layout-grid gap-y-8">
      {% for article in articles.all() %}
        <div class="col-span-full lg:col-span-4">
          {% include "_components/card/article" with { article } only %}
        </div>
      {% endfor %}
    </div>

  </div>
</section>
