{% extends '_layout' %}
{% set darkMode = true %}

{% import "_macros/image" as _image %}

{% block content %}
  {# Heading with background #}
  {% include "_blocks/imageHero" with {
    block: {
      heading: entry.heading,
      backgroundImage: entry.backgroundImage ?? null
    }
  } %}

  <div id="companies">
    {{ sprig('_sprig/companies', {
      '_eyebrow': entry.eyebrow,
      '_heading': entry.subheading
    })}}
  </div>
{% endblock %}
