{# Required #}
{% set heading = block.heading %} {# Plain Text #}

{# Optional #}
{% set eyebrow = block.eyebrow ?? '' %} {# Plain Text #}
{% set copy = block.copy ?? '' %} {# Plain Text #}
{% set linkField = block.linkField ?? null %} {# Hyper #}

<section class="py-20">
  <div class="container">
    {% if eyebrow %}
      <div class="mb-[18px]">
        <span class="t-eyebrow">{{ eyebrow }}</span>
      </div>
    {% endif %}

    <div class="layout-grid mb-20 gap-y-[18px]">
      <div class="col-span-full lg:col-span-6">
        <h2 class="t-h2">{{ heading }}</h2>
      </div>

      <div class="col-span-full lg:col-span-5 lg:col-start-8">
        {% if copy %}
          <div class="text-xl prose max-w-none mb-[18px]">{{ copy|nl2br }}</div>
        {% endif %}

        {% if linkField %}
          {% include "_components/button" with {
            href: linkField.url,
            label: linkField.text,
            arrow: 'right'
          } %}
        {% endif %}
      </div>
    </div>

    <div class="layout-grid gap-y-8 reveal-items-container">
      {% for theme in craft.entries.section('themes').with('backgroundImage').all() %}
        <div class="col-span-2 sm:col-span-3 lg:col-span-3 reveal-items-item">
          {% include "_components/card/theme" with { theme } only %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
