{% extends '_layout' %}

{% block content %}
  <section class="container pt-[164px]">
    {# Back button #}
    <div>
      {% include "_components/button" with {
        href: url('news'),
        label: 'All news',
        arrow: 'left'
      } %}
    </div>

    <article class="layout-grid mt-8 mb-16">
      <div class="col-span-full lg:col-span-9 flex flex-col items-start gap-6">
        <h1 class="t-h1">{{ entry.title }}</h1>
        <h2 class="t-h3">{{ entry.subheading }}</h2>

        <time class="text-xl" datetime="{{ entry.postDate|date('Y-m-d') }}">{{ entry.postDate|date('mm j, Y') }}</time>

        {% include "_blocks/longform" with {
          children: entry.longform.level(1).all(),
          class: '' } %}
      </div>
    </article>
  </section>
{% endblock %}
