{# Optional #}
{% import "_macros/image" as _image %}
{% set heading = block.heading ?? '' %} {# Plain Text #}
{% set image = block.image.one() ?? null %}

<section class="{% if craft.app.request.getSegment(1) is empty %}bg-blue-200 {% else %} bg-white {% endif %} text-white pt-3 lg:pt-3 lg:pb-14 pb-14">
  {% if craft.app.request.getSegment(1) is empty %}
    <div class="container">
      
      <div class="layout-grid gap-8 md:gap-16 items-center pt-16 lg:pt-24 lg:pt-12">
        <div class="col-span-full md:col-span-6 lg:col-span-7 md:order-1 order-2">
          <h1 class="t-h2">{{ heading }}</h1>
        </div>

        {% if image %}
          <div class="col-span-full md:col-span-6 lg:col-span-5 md:order-2 order-1">
            {{ _image.tag(
              image,
              '',
              { width: 600, height: 600,quality: 100 },
              "w-full h-full max-w-[600px] mx-auto",
              'png'
            ) }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if craft.app.request.getSegment(1) is not empty %}
    {% include _self ~ "/themes" %}
  {% endif %}
</section>
