{% extends '_layout/base' %}

{% block body %}
  <div id="app" class="flex flex-col min-h-screen">

    {% include '_includes/skipLink' %}
    {% include '_includes/ieNotice' %}

    {% include '_layout/header' %}

    <main id="main" class="flex-1 flex flex-col">
      {% block content %}{% endblock %}
    </main>

    {% include '_layout/footer' %}

  </div>
{% endblock %}
