columnSuffix: tfvtipuj
contentColumnType: string(80)
handle: telephone
instructions: null
name: Telephone
searchable: false
settings:
  byteLimit: null
  charLimit: 20
  code: false
  columnType: null
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
