{# Optional #}
{% set eyebrow = block.eyebrow ?? '' %} {# Plain Text #}
{% set heading = block.heading ?? '' %} {# Plain Text #}
{% set linkField = block.linkField ?? null %} {# Hyper #}
{% set companies = block.companies ?? null %} {# Entries #}
{% set color = 'black' %}
<section class="bg-gray-800 py-20">
  <div class="container text-center portfolio-grid">
    {% if linkField  %}
      {% include "_components/button" with {
        href: linkField.url,
        label: linkField.text,
        arrow: 'right',
        color: color
      } %}
    {% endif %}
  </div>
</section>
